caption {
    caption-side: bottom;
    text-transform: uppercase;
}

table {
    width: 650px;
    margin: 10px auto;     
}

tr>th {
    background-color: #888;
}

tr:first-child~tr>td {
    border-bottom: 3px dotted gray;
    border-right: 3px dotted gray
}

tr:first-child~tr>td:last-child {
    border-right: none;
}

tr:nth-child(odd):not(tr:first-child) {
    background-color: #ddd;
}


tr:hover {
    cursor: pointer;
    background-color: mediumaquamarine;
}
tr:nth-child(odd):not(tr:first-child):hover{
    background-color: mediumaquamarine;
}