.container {
    width: 750px;
    margin: 0 auto;
}
.container>div {
    border: 1px solid #bbb;
    border-radius: 0 20px;
    padding: 0 0 10px 0;
}

p>a {
    background: url("img/extref.png") no-repeat left;
    padding:0 0 0 10px;
}

ul {
    list-style-image: url("img/logo-list.jpg");
}
li>img {
    display: none;
}
li>a:hover +img {
    display: inline-block;
}