
table {
    margin: 0 auto;
    border: 5px solid black;
    border-collapse: collapse;
}

td {
    width: 60px;
    height: 60px;
    border: 2px solid black;
}

tr:nth-child(odd)>td:nth-child(odd) {
    background-color: black;
}

tr:nth-child(even)>td:nth-child(even) {
    background-color: black;
}